@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #eff2f1;
  --background-start-rgb: #eff2f1;
  --background-end-rgb: #eff2f1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #eff2f1;
    --background-start-rgb: #eff2f1;
    --background-end-rgb: #eff2f1;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



/* styles.css */

/* Set the width of the entire carousel container */
.custom-carousel-container {
  width: 100% !important;
  display: flex;
  gap: 1rem; /* Example: 100% width */
}

/* Adjust the width of the carousel stage */
.alice-carousel.__ssr,
.alice-carousel {
  width: 100% !important;
  
}

/* Adjust the width of the carousel items */
.alice-carousel__stage-item {
  width: 10rem !important; /* Example: 100% width */
  /* Add margin between items if needed */
}

/* Add additional styling for other carousel components as needed */
